<h1>Location <%= location.name %></h1>
<table>
  <tr>
    <th>Kind</th>
    <th>Current Value</th>
  </tr>
  <% measurements.each do |measurement| %>
    <tr>
      <td><%= measurement.kind %></td>
      <td><%= measurement.current %></td>
    </tr>
  <% end %>
</ul>
